<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien" class="com.telusko.Alien"></bean>-->

<!--    <bean id="alien" class="com.telusko.Alien" scope = "prototype"></bean>-->

    <bean id="alien" class="com.telusko.Alien" scope = "prototype">
     <property name="age" value="10"></property>
    </bean>

</beans>











<!--<?xml version="1.0" encoding="UTF-8" standalone="no"?>-->
<!--<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">-->
<!--<properties/>-->


<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--<bean id="alien" class="com.telusko.SpringDemo.Alien"></bean>-->

<!--</beans>-->