<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="alien" class="org.telusko.Alien" scope = "prototype" autowire="byType">
        <property name="age" value="10"></property>      <!--this is a setter injection -->
<!--        <property name="com" ref="com"></property>-->
    </bean>

    <bean id ="lap" class = "org.telusko.Laptop"  primary="true">

    </bean>

    <bean id="com" class="org.telusko.Dekstop" >

    </bean>

</beans>


